body
{
    background-color:lavender;
}

.speech
{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
}
.stage-direction:hover
{
    font-family: monospace;
    font-size: medium;
    color: black;
    background-color: burlywood;
}
.name
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
}
.BARONRAFF
{
color: midnightblue;
}
.PRINCEPETRO
{
color: rebeccapurple;
}
.MARQDEPOIV
{
color: saddlebrown;
}
.CZAR
{
color: slateblue;
}
.COLONEL
{
color: indigo;
}
.PAGE
{
color: darkviolet;
}
#tableA
{
    border: 1px solid black;        
    width: 30%;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    
}
#tableA tr:nth-child(even)
{
    background-color:darkgray;
}
#tableA tr:nth-child(odd)
{
    background-color:dimgrey;
}
#tableA th
{
    border: 1px solid black;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: black ;
    color: white;
}
#tableA td
{
    padding: 3px;
    border: 1px solid black;
}

.BARONRAFF:hover
{
    border: 1px solid Black;
    color:Red;
    text-shadow: 1px 1px 1px orange;
}

.COLONEL:hover
{
    border: 1px solid Black;
    color:Red;
    text-shadow: 1px 1px 1px orange;
}
.CZAR:hover{
    border: 1px solid Black;
    color:Red;
    text-shadow: 1px 1px 1px orange;
}
.MARQDEPOIV:hover{
    border: 1px solid Black;
    color:Red;
    text-shadow: 1px 1px 1px orange;
}
.PAGE:hover{
    border: 1px solid Black;
    color:Red;
    text-shadow: 1px 1px 1px orange;
}
.PRINCEPETRO:hover{
    border: 1px solid Black;
    color:Red;
    text-shadow: 1px 1px 1px orange;
}
.speech:hover{
    border: 1px solid white;
    background-color: black;
    color:white;
    text-shadow: 1px 1px 1px Red;
}